*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 90px;
}

/* modifier la taille de la police des liens dans la barre de navigation 
    lorsque la largeur de l'écran est inférieure à 768 pixels. */
@media (max-width: 768px) {
    .navbar-nav a {
        font-size: 18px;
    }
}

body {
    font-family: goldich, sans-serif;
    font-style: normal;
    font-weight: 600;

}

.logo {
    display: flex;
    margin-left: 50px;
    width: 150px;
    filter: brightness(80%);
}

nav {
    display: flex;
    /* background-color: antiquewhite;     */
    background-color: transparent;
}
.navbar {
    transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
    background-color: rgba(0, 0, 255, 0.8);
    backdrop-filter: blur(1px);
}

#nav {
    align-content: center;
    justify-content: center;
}

#nav a {
    color: #f9f7f7;
    font-size: large;
    font-weight: bold;
    /* effet 3D */
    text-shadow: 2px 2px 0px #000, 4px 4px 0px #000, 6px 6px 0px #000;
}
.container{
    position: absolute;
    max-width: 100%;
}
.bg-image {
    position: relative;
    height: 900px;
    background-size: cover;
    /* background-position: center center; */
    
}
.blur-image{
    filter: blur(5px);
}


#leTitre {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -500px;
    text-align: center;
    color: white;
    /* effet d'écriture en 3D en CSS */
    text-shadow: 2px 2px 0px #000, 4px 4px 0px #000, 6px 6px 0px #000;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-custom{
    background-color: #ff0000; /* couleur personnalisée */
    color: #fff; /* couleur du texte */
}
.btn-custom:hover {
    background: black;
    color: white;    
}

.p2{
    overflow: hidden;
    
}

.p2 img{
    
    width: 280px;
    text-align: center;
    
}
.p2 p{
    text-align: center;
}